# PostgreSQL Configuration
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRES_PORT=5432

# Database URL
# For Docker: use 'postgres' as hostname
# For local development: use 'localhost' as hostname
# format: postgresql:// <username> : <password> @ <host> : <port> / <dbname> ?schema=public
DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"

# JWT Configuration
# openSSL command to generate a secure secret:
# openssl rand -hex 64
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=7d

# Backend Configuration
PORT=4000
NODE_ENV=development

# if using Docker, set to: http://postgres:3000
FRONTEND_URL=http://localhost:3000

# Frontend Configuration
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:4000/graphql
